#root {
    max-width: 1480px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
    width: 100vw;
}

/* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
} */

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.loginForm {
    width: 600px;
    height: 380px;
    background-color: #353535;
    padding: 7%;
    margin: -7%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.loginForm input {
    height: 36px;
    width: 90%;
    border-radius: 5px;
    padding: 3px 12px;
}

.loginForm label {
    width: 90%;
    font-weight: bolder;
    letter-spacing: 1px;
}

.loginForm input:focus {
    outline: none;
}